# Data CLeaning of Hotel Bookings

### STEP 1: Import Libraries & Load Data

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
# Load the dataset
df = pd.read_csv(r"C:\Users\divya\Downloads\archive\hotel_bookings.csv")

In [45]:
# Display first few rows
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

### STEP 2: Basic Dataset Overview

In [46]:
# Shape of the dataset (rows, columns)
print("Dataset Shape:", df.shape)

Dataset Shape: (119390, 32)

In [47]:
print("\nColumn Names:")
print(df.columns.tolist())

Column Names:
['hotel', 'is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'meal', 'country', 'market_segment', 'distribution_channel', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'reserved_room_type', 'assigned_room_type', 'booking_changes', 'deposit_type', 'agent', 'company', 'days_in_waiting_list', 'customer_type', 'adr', 'required_car_parking_spaces', 'total_of_special_requests', 'reservation_status', 'reservation_status_date']

In [48]:
# Data types and non-null counts
print("\nData Info:")
print(df.info())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB
None

In [49]:
print("\nMissing Values Per Column:")
print(df.isnull().sum())

Missing Values Per Column:
hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

### STEP 3: CLEAN COLUMN NAMES

In [50]:
# Convert all column names to lowercase
# Replace spaces with underscores
# This makes columns easier to access and consistent across the project

df.columns = (
    df.columns
    .str.lower()           # convert to lowercase
    .str.strip()           # remove leading/trailing spaces
    .str.replace(" ", "_") # replace spaces with underscores
)

# Display cleaned column names
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

### STEP 4: Missing Values Summary

In [51]:
# Calculate missing values and percentage
missing_values = df.isnull().sum().sort_values(ascending=False)
missing_percent = (df.isnull().sum() / len(df) * 100).sort_values(ascending=False)

# Combine into a single table
missing_summary = pd.DataFrame({
    "missing_values": missing_values,
    "missing_percent": missing_percent.round(2)
})

missing_summary

                                missing_values  missing_percent
company                                 112593            94.31
agent                                    16340            13.69
country                                    488             0.41
children                                     4             0.00
arrival_date_month                           0             0.00
arrival_date_week_number                     0             0.00
hotel                                        0             0.00
is_canceled                                  0             0.00
stays_in_weekend_nights                      0             0.00
arrival_date_day_of_month                    0             0.00
adults                                       0             0.00
stays_in_week_nights                         0             0.00
babies                                       0             0.00
meal                                         0             0.00
lead_time                                    0             0.00
arrival_date_year                            0             0.00
distribution_channel                         0             0.00
market_segment                               0             0.00
previous_bookings_not_canceled               0             0.00
is_repeated_guest                            0             0.00
reserved_room_type                           0             0.00
assigned_room_type                           0             0.00
booking_changes                              0             0.00
previous_cancellations                       0             0.00
deposit_type                                 0             0.00
days_in_waiting_list                         0             0.00
customer_type                                0             0.00
adr                                          0             0.00
required_car_parking_spaces                  0             0.00
total_of_special_requests                    0             0.00
reservation_status                           0             0.00
reservation_status_date                      0             0.00

### STEP 5: HANDLE MISSING VALUES

In [52]:
# Fill missing children counts with 0
df['children'] = df['children'].fillna(0)

In [53]:
# Fill missing agent IDs with 0 (means no agent)
df['agent'] = df['agent'].fillna(0)

In [54]:
# Fill missing company IDs with 0 (no company contract)
df['company'] = df['company'].fillna(0)

In [55]:
# Fill missing country values with "Unknown"
df['country'] = df['country'].fillna("Unknown")

In [56]:
# Convert reservation_status_date to datetime
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'])

In [57]:
# Remove rows where adults + children + babies = 0 (invalid bookings)
df = df[(df['adults'] + df['children'] + df['babies']) > 0]

In [58]:
# Check again after cleaning
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

### STEP 6: CHECK & REMOVE DUPLICATES

In [59]:
# Count how many duplicate rows exist
duplicate_count = df.duplicated().sum()
print("Number of duplicate rows:", duplicate_count)

Number of duplicate rows: 31980

In [60]:
# Remove duplicate rows
df = df.drop_duplicates()

In [61]:
# Confirm duplicates are gone
print("After removal, duplicates:", df.duplicated().sum())

After removal, duplicates: 0

In [62]:
# Show updated shape
print("Updated dataset shape:", df.shape)

Updated dataset shape: (87230, 32)

### STEP 7: FIX DATA TYPES

In [63]:
# Convert numeric columns to proper dtype
numeric_cols = ['children', 'agent', 'company', 'adr', 'days_in_waiting_list']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [64]:
# Convert categorical columns to 'category' dtype
category_cols = [
    'hotel', 'meal', 'country', 'market_segment', 'distribution_channel',
    'reserved_room_type', 'assigned_room_type', 'customer_type',
    'deposit_type', 'reservation_status'
]

for col in category_cols:
    df[col] = df[col].astype('category')

In [65]:
# Confirm changes
df.dtypes

hotel                                   category
is_canceled                                int64
lead_time                                  int64
arrival_date_year                          int64
arrival_date_month                        object
arrival_date_week_number                   int64
arrival_date_day_of_month                  int64
stays_in_weekend_nights                    int64
stays_in_week_nights                       int64
adults                                     int64
children                                 float64
babies                                     int64
meal                                    category
country                                 category
market_segment                          category
distribution_channel                    category
is_repeated_guest                          int64
previous_cancellations                     int64
previous_bookings_not_canceled             int64
reserved_room_type                      category
assigned_room_type                      category
booking_changes                            int64
deposit_type                            category
agent                                    float64
company                                  float64
days_in_waiting_list                       int64
customer_type                           category
adr                                      float64
required_car_parking_spaces                int64
total_of_special_requests                  int64
reservation_status                      category
reservation_status_date           datetime64[ns]
dtype: object

### STEP 8: OUTLIER DETECTION (IQR METHOD)

In [66]:
# Let's focus on ADR first
Q1 = df['adr'].quantile(0.25)
Q3 = df['adr'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("ADR Lower Bound:", lower_bound)
print("ADR Upper Bound:", upper_bound)

# Count ADR outliers before removal
outliers_before = df[(df['adr'] < lower_bound) | (df['adr'] > upper_bound)].shape[0]
print("Number of ADR outliers before removal:", outliers_before)

ADR Lower Bound: -20.52499999999999
ADR Upper Bound: 226.875
Number of ADR outliers before removal: 2508

### STEP 9: REMOVE ADR OUTLIERS

In [67]:
# Using the same IQR bounds calculated earlier
df = df[(df['adr'] >= lower_bound) & (df['adr'] <= upper_bound)]

# Confirm outliers removed
outliers_after = df[(df['adr'] < lower_bound) | (df['adr'] > upper_bound)].shape[0]
print("ADR outliers after removal:", outliers_after)

# Show updated shape
print("Updated dataset shape:", df.shape)

ADR outliers after removal: 0
Updated dataset shape: (84722, 32)

### STEP 10: FEATURE ENGINEERING

In [68]:
# Total stay duration
df['total_stay'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']

In [69]:
# Total guests
df['total_guests'] = df['adults'] + df['children'] + df['babies']

In [70]:
# Family flag
df['is_family'] = df['total_guests'].apply(lambda x: 1 if x > 2 else 0)

In [71]:
# Convert arrival month (string) → numeric month
df['arrival_month_num'] = pd.to_datetime(df['arrival_date_month'], format='%B').dt.month

In [72]:
# Preview updated dataframe
df[['total_stay', 'total_guests', 'is_family', 'arrival_month_num']].head()

   total_stay  total_guests  is_family  arrival_month_num
0           0           2.0          0                  7
1           0           2.0          0                  7
2           1           1.0          0                  7
3           1           1.0          0                  7
4           2           2.0          0                  7

### STEP 11: FINAL DATASET FORMATTING & CLEANUP

In [73]:
# Reset index after all removals/cleaning
df = df.reset_index(drop=True)

In [74]:
# Reorder columns for better readability
final_column_order = [
    'hotel',
    'arrival_date_year', 'arrival_date_month', 'arrival_month_num',
    'arrival_date_week_number', 'arrival_date_day_of_month',
    
    'total_stay', 'stays_in_weekend_nights', 'stays_in_week_nights',
    'total_guests', 'adults', 'children', 'babies', 'is_family',
    
    'country', 'market_segment', 'distribution_channel', 'customer_type',
    
    'reserved_room_type', 'assigned_room_type',  
    'booking_changes', 'deposit_type',
    
    'adr',
    
    'is_canceled', 'previous_cancellations', 
    'previous_bookings_not_canceled',
    
    'agent', 'company',
    
    'days_in_waiting_list',
    'total_of_special_requests',
    
    'reservation_status', 'reservation_status_date'
]

In [75]:
# Apply new ordering (only for existing columns)
df = df[final_column_order]

In [76]:
# Preview the clean, organized dataset
df.head()

,hotel,arrival_date_year,arrival_date_month,arrival_month_num,arrival_date_week_number,arrival_date_day_of_month,total_stay,stays_in_weekend_nights,stays_in_week_nights,total_guests,...,adr,is_canceled,previous_cancellations,previous_bookings_not_canceled,agent,company,days_in_waiting_list,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,2015,July,7,27,1,0,0,0,2.0,...,0.0,0,0,0,0.0,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,2015,July,7,27,1,0,0,0,2.0,...,0.0,0,0,0,0.0,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,2015,July,7,27,1,1,0,1,1.0,...,75.0,0,0,0,0.0,0.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,2015,July,7,27,1,1,0,1,1.0,...,75.0,0,0,0,304.0,0.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,2015,July,7,27,1,2,0,2,2.0,...,98.0,0,0,0,240.0,0.0,0,1,Check-Out,2015-07-03

### # Step 12: Export the cleaned dataset to CSV

In [77]:
# Exporting df to a new clean CSV file
df.to_csv("hotel_bookings_cleaned.csv", index=False)

print("Cleaned dataset exported successfully!")

Cleaned dataset exported successfully!